
.bt-send{
    margin: 0 auto;
  }

  .al-missingopt{
    max-width: fit-content;
    margin: 10px auto 0;
    font-weight: 700;
  }

.order-send{
    display: flex;
  flex-wrap:wrap;
}
.order-send [class|=block]{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px 10px; 
}

.order-send .block-picture{
    background-image: url('/src/assets/images/pattern-azul.png');  
    background-size: contain;
    background-color: #1820ef;
}
.order-send .block-picture .subtitle{
  font-weight: 900;  
  font-size: 20px;
  margin: 0;
}
.order-send .block-picture .title{
  margin: 0;
}

.order-send .block-text p{
    text-align: center;
}

.order-send .block-text .subtitle{
  font-size: 20px;
  font-weight: 900;
  margin: 15px 0;
}
.order-send .block-text .title{
  margin: 0 0 4px;
}

.order-send .block-text button{
  margin: 32px 0 0 
}

@media (max-width: 1024px){
  .order-send{
      overflow: auto;
  }
  .order-send [class|=block]{
    width: 100%;
    height: auto
  }
  
}